.image,
.mask5 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-aliceblue);
}
.mask5 {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  display: none;
}
.image {
  height: 48px;
  width: 48px;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
}
.home1,
.icon8 {
  position: relative;
}
.icon8 {
  height: 16.7px;
  width: 21.8px;
}
.home1 {
  letter-spacing: 1px;
  font-weight: 600;
}
.icon-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hello-niles,
.welcome-back {
  position: relative;
  letter-spacing: 1px;
  white-space: nowrap;
}
.welcome-back {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.hello-niles {
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.welcome-back-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-3xl);
}
.card-frame2,
.frame-group,
.image-parent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-group {
  width: 238px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-25xl);
}
.card-frame2,
.image-parent {
  flex-direction: row;
  max-width: 100%;
}
.image-parent {
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-mini) 0 0;
  position: relative;
}
.card-frame2 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-lato);
}
.mask6,
.rectangle11 {
  border-radius: var(--br-5xs);
  display: none;
}
.rectangle11 {
  align-self: stretch;
  position: relative;
  background: linear-gradient(135deg, #84e5d5, #5c99d6);
  height: 239px;
}
.mask6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mediumturquoise);
}
.div5,
.logo3 {
  position: relative;
  z-index: 1;
}
.logo3 {
  height: 30px;
  width: 50px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumturquoise);
  overflow: hidden;
  flex-shrink: 0;
}
.div5 {
  height: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
}
.card-inner,
.frame-div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.card-inner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-sm);
  box-sizing: border-box;
}
.empty-space {
  width: 258px;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 1;
}
.rectangle12 {
  height: 86px;
  width: 386px;
  position: relative;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-skyblue);
  display: none;
  max-width: 100%;
}
.div6,
.my-balance {
  position: relative;
  letter-spacing: 1px;
  font-weight: 500;
  z-index: 1;
}
.div6 {
  font-size: 30px;
  color: var(--color-white);
  white-space: nowrap;
}
.balance-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div7 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-white);
  text-align: right;
  z-index: 1;
}
.card9,
.frame-tab-menu,
.text {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.text {
  align-self: stretch;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-skyblue);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-base) var(--padding-sm)
    var(--padding-sm);
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xs);
  color: #d1e4fd;
}
.card9,
.frame-tab-menu {
  justify-content: flex-start;
}
.card9 {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(135deg, #84e5d5, #5c99d6);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-sm) 0 0;
  gap: 41px;
}
.frame-tab-menu {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.rectangle13 {
  width: 97px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-skyblue);
  height: 86px;
  display: none;
}
.icon9 {
  height: 29.9px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-sm);
}
.transfer1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.card10,
.rectangle14 {
  border-radius: var(--br-5xs);
}
.card10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-4xl) var(--padding-sm)
    var(--padding-xl);
  background-color: var(--color-skyblue);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.rectangle14 {
  width: 97px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  height: 86px;
  display: none;
}
.icon10,
.icon11 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 30px;
  height: 29.9px;
  object-fit: cover;
  z-index: 1;
}
.icon11 {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.icon-container {
  width: 34px;
  height: 30px;
  position: relative;
}
.payment {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-darkgray);
  text-align: center;
  z-index: 1;
}
.card11,
.rectangle15 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
}
.card11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-3xl) var(--padding-sm)
    var(--padding-2xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.rectangle15 {
  width: 97px;
  position: relative;
  height: 86px;
  display: none;
}
.icon12,
.top-up {
  position: relative;
  z-index: 1;
}
.icon12 {
  width: 34px;
  height: 30px;
  object-fit: cover;
}
.top-up {
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-darkgray);
  text-align: center;
}
.card12,
.rectangle16 {
  width: 97px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
}
.card12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.card12:hover {
  background-color: var(--color-gainsboro-100);
}
.rectangle16 {
  position: relative;
  height: 86px;
  display: none;
  z-index: 0;
}
.rectangle-frame-rectangle,
.rectangle-frame-rectangle1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 20px;
  border: 1.6px solid var(--color-silver);
  box-sizing: border-box;
  width: 13.3px;
  height: 13.3px;
  z-index: 1;
}
.rectangle-frame-rectangle1 {
  left: 38.3px;
}
.rectangle-frame-rectangle-parent {
  align-self: stretch;
  height: 12px;
  position: relative;
}
.rectangle17,
.rectangle18 {
  margin: 0 !important;
  width: 13.3px;
  height: 13.3px;
  position: absolute;
  top: 32.3px;
  border: 1.6px solid var(--color-silver);
  box-sizing: border-box;
  z-index: 1;
}
.rectangle17 {
  right: 31.4px;
}
.rectangle18 {
  left: 34px;
}
.more {
  position: relative;
  letter-spacing: 1px;
  font-weight: 500;
  z-index: 1;
}
.rectangle-group {
  width: 97px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  gap: 33px;
}
.transfer-card-frame,
.transfer-card-frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.transfer-card-frame {
  width: 400px;
  overflow-x: auto;
  flex-shrink: 0;
  gap: var(--gap-sm);
}
.transfer-card-frame-wrapper {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
  font-family: var(--font-lato);
}
.transaction {
  width: 121px;
  position: relative;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.rectangle19 {
  height: 78px;
  width: 386px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  display: none;
  max-width: 100%;
}
.mask7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 100%;
  display: none;
}
.logo4,
.may-2022,
.netflix {
  position: relative;
  z-index: 1;
}
.logo4 {
  height: 50px;
  width: 50px;
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
  overflow: hidden;
  flex-shrink: 0;
}
.may-2022,
.netflix {
  letter-spacing: 1px;
}
.netflix {
  font-weight: 500;
}
.may-2022 {
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.logo-mask-frame1,
.may-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.logo-mask-frame1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.transfer-payment-topup {
  position: relative;
  letter-spacing: 0.89px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.frame-frame-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: right;
  font-size: var(--font-size-base);
}
.card13,
.rectangle20 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  max-width: 100%;
}
.card13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.rectangle20 {
  height: 78px;
  width: 386px;
  position: relative;
  display: none;
}
.logo5,
.mask8 {
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
}
.mask8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.logo5 {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.may-20221,
.starbucks {
  position: relative;
  letter-spacing: 1px;
  z-index: 1;
}
.starbucks {
  font-weight: 500;
}
.may-20221 {
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.logo-parent1,
.starbucks-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.logo-parent1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.div8 {
  position: relative;
  letter-spacing: 0.89px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: right;
  font-size: var(--font-size-base);
}
.card14,
.rectangle21 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  max-width: 100%;
}
.card14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.rectangle21 {
  height: 78px;
  width: 386px;
  position: relative;
  display: none;
}
.mask9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 100%;
  display: none;
}
.amazon,
.logo6,
.may-20222 {
  position: relative;
  z-index: 1;
}
.logo6 {
  height: 50px;
  width: 50px;
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
  overflow: hidden;
  flex-shrink: 0;
}
.amazon,
.may-20222 {
  letter-spacing: 1px;
}
.amazon {
  font-weight: 500;
}
.may-20222 {
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.amazon-parent,
.logo-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.logo-parent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.div9 {
  position: relative;
  letter-spacing: 0.89px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: right;
  font-size: var(--font-size-base);
}
.card15 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 48px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.card-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
  font-size: var(--font-size-sm);
}
.card-parent,
.frame-root-inner,
.transaction-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.transaction-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frame-root-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-lato);
}
.tab-menu-icon1 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -23px;
  transform: scale(1.719);
}
.frame-root,
.wrapper-tab-menu1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper-tab-menu1 {
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  height: 64px;
  flex-shrink: 0;
  z-index: 2;
  justify-content: center;
}
.frame-root {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 var(--padding-7xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .text {
    flex-wrap: wrap;
  }
  .card9 {
    gap: var(--gap-xl);
  }
  .card13,
  .card14,
  .card15 {
    flex-wrap: wrap;
  }
}
