body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-lato: Lato;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-gray: #fafafa;
    --color-white: #fff;
    --color-slategray: #3a697b;
    --color-darkgray: #8ca1a9;
    --color-aliceblue: #dcf2fb;
    --color-skyblue: #6cb8d6;
    --color-whitesmoke-100: #f2f2f2;
    --color-whitesmoke-200: #eaebec;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #d9d9d9;
    --color-silver: #c2c2c2;
    --color-powderblue: #c7eefd;
    --color-green: #139602;
    --color-mediumturquoise: #66d1cb;
    --color-steelblue: #3885a3;
  
    /* Gaps */
    --gap-11xl: 30px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-xs: 12px;
    --gap-4xs: 9px;
    --gap-mini: 15px;
    --gap-25xl: 44px;
    --gap-2xs: 11px;
    --gap-10xl: 29px;
    --gap-sm: 14px;
    --gap-6xs: 7px;
    --gap-3xs: 10px;
    --gap-12xl: 31px;
    --gap-smi: 13px;
    --gap-5xs: 8px;
    --gap-7xs: 6px;
    --gap-lg: 18px;
  
    /* Paddings */
    --padding-29xl: 48px;
    --padding-3xs: 10px;
    --padding-2xs: 11px;
    --padding-9xs: 4px;
    --padding-sm: 14px;
    --padding-mid: 17px;
    --padding-6xs: 7px;
    --padding-xl: 20px;
    --padding-4xl: 23px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-mini: 15px;
    --padding-8xs: 5px;
    --padding-9xl: 28px;
    --padding-11xs: 2px;
    --padding-14xl: 33px;
    --padding-3xl: 22px;
    --padding-10xs: 3px;
    --padding-base: 16px;
    --padding-7xs: 6px;
    --padding-13xl: 32px;
    --padding-12xs: 1px;
    --padding-19xl: 38px;
    --padding-5xs: 8px;
    --padding-4xs: 9px;
  
    /* Border radiuses */
    --br-13xl: 32px;
    --br-11xl: 30px;
    --br-5xs: 8px;
    --br-2xl-5: 21.5px;
    --br-xs: 12px;
    --br-8xs: 5px;
    --br-6xl: 25px;
    --br-5xl: 24px;
    --br-37xl: 56px;
    --br-3xs: 10px;
  }
  nav{
    width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    
  }
  .nav-btn{
    margin: 0 10px;
  }
  nav a{
    text-decoration: none;
    font-size: 20px
  }